<h1 text-center> CONVERSOR DE CÂMBIO</h1>
<button class="btn btn-primary" type="submit" onclick="limpar">Limpar</button>
<p class="text-center text-danger mb-2 ">{{mensagemError}}</p>
<label>Valor Desejado</label>
<div class="col-12">
<div class="input-group mb-4">
    
  <div ngbDropdown class="d-inline-block">
    <select class="form-select" aria-label="Default select example" [(ngModel)]="opcao1" (click)="limpar()">
      <option selected Disabled>Moedas</option>
      <option value="1">Real</option>
      <option value="2">Dolar (USA) </option>
      <option value="3">Euro</option>
    </select>
  </div>
  <input id="ValorDesejado" type="number" class="form-control p-3" aria-label="Text input with dropdown button "
    [(ngModel)]="ValorDesejado" (keyup)="verificacao1()" placeholder="0">
    
</div>
</div>
<label>Valor do cambio: </label>
<div class="col-12">
<div class="input-group mb-4">
  <div ngbDropdown class="d-inline-block">
    <select class="form-select" aria-label="Default select example" [(ngModel)]="opcao2" (click)="limpar()">
        <option selected Disabled>Moedas</option>
        <option value="1">Real</option>
        <option value="2">Dolar (USA) </option>
        <option value="3">Euro</option>
    </select>
  </div>  
  <input type="number" class="form-control p-3" aria-label="Text input with dropdown button " [(ngModel)]="ValorCambio" placeholder="0">
</div>
    <div>
        <label>resultado</label>
        <input type="number" class="form-control p-3" aria-label="Text input with dropdown button " [(ngModel)]="result" (keyup)="verificacao2()" placeholder="0">
        <button class="btn btn-primary" type="submit" onclick="limpar">Limpar</button>
    </div>
</div>
