
<p class="text-center text-danger mb-2 ">{{mensagemError}}</p>
<label for="Va">Valor Desejado</label>
<div class="col-12">
<div class="input-group mb-4">
    
  <div ngbDropdown class="d-inline-block">
    <select class="form-select" aria-label="Default select example" [(ngModel)]="opcao1" (click)="limpar()">
      <option selected Disabled>Moedas</option>
      <option value="1">Real</option>
      <option value="2">Dolar (USA) </option>
      <option value="3">Euro</option>
    </select>
  </div>
  <input id="ValorDesejado" type="number" class="form-control p-3" aria-label="Text input with dropdown button "
    [(ngModel)]="ValorDesejado" (keyup)="verificacao1()" placeholder="0">
    
</div>
</div>
<label for="Va">Cambio</label>
<div class="col-12">
<div class="input-group mb-4">
  <div ngbDropdown class="d-inline-block">
    <select class="form-select" aria-label="Default select example" [(ngModel)]="opcao2" (click)="limpar()">
        <option selected Disabled>Moedas</option>
        <option value="1">Real</option>
        <option value="2">Dolar (USA) </option>
        <option value="3">Euro</option>
    </select>
  </div>
  <input type="number" class="form-control p-3" aria-label="Text input with dropdown button "
    [(ngModel)]="ValorCambio" (keyup)="verificacao1()" placeholder="0">

    <label>resultado</label>
    <input type="number" class="form-control p-3" aria-label="Text input with dropdown button "
    [(ngModel)]="result" (keyup)="verificacao1()" placeholder="0">
    
</div>
</div>
